#section1 {
    height: 0;
    opacity: 0;             /* Áttetszőség */
    width: 500px;
    position: absolute;     /* Pozíció rákerül az alatta lévő tartalomra*/
    transition: all 1s;     /* Animáció 1s-os késleltetés*/
}

#section1.big {
    opacity: 1;
    height: 500px;
    background-color: #00acc1;
    width: 500px;
    position: absolute;
}